# Dependências
node_modules/

# Variáveis de ambiente
.env

# Build (arquivos compilados)
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Prisma (cliente gerado localmente)
.prisma/

# Cache do editor
.vscode/
.idea/

# Banco de dados (volumes)
data/