# Dependências
node_modules/

# Variáveis de ambiente
.env

# Build (arquivos compilados)
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Prisma
prisma/migrations/
generated/
*.db

# Cache do editor
.vscode/
.idea/

# Banco de dados (volumes)
data/