@import url('https://fonts.googleapis.com/css2?family=Risque&family=Sarala:wght@400;700&display=swap');
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/bg-1.jpg);
    background-size: cover;
    font-family: 'Sarala', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
  background: #30751f;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

main {
  font-family: 'Sarala', sans-serif;
  flex: 1;
  display: flex;
}

#explorar {
  flex: 3;
  padding: 20px;
  overflow-y: auto;
}

#explorar input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
}

#pokemon-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 10px;
}

.pokemon-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  padding: 10px;
  background: #f8f8f8;
}

.pokemon-card img {
  width: 80px;
  height: 80px;
}

#minha-pokedex {
  flex: 1;
  background: #f0f0f0;
  padding: 20px;
  border-left: 2px solid #ddd;
  overflow-y: auto;
}

#pokedex-list .pokemon-card {
  margin-bottom: 10px;
}
/* botão sair da conta */
#btn-sair {
  margin-left: 10px;
  padding: 5px 12px;
  border: none;
  border-radius: 5px;
  background: #c62828;
  color: white;
  cursor: pointer;
  transition: background 0.2s;
}

#btn-sair:hover {
  background: #b71c1c;
}

/*modal*/
dialog {
  position: fixed;         /* fixo na tela */
  top: 50%;                /* meio vertical */
  left: 50%;               /* meio horizontal */
  transform: translate(-50%, -50%); /* centraliza */
  border: none;
  border-radius: 12px;
  padding: 20px;
  width: 350px;
  max-width: 90%;
  text-align: center;
}

/* fundo escuro */
dialog::backdrop {
  background: rgba(0,0,0,0.6);
}

/* botão fechar */
.close {
  position: absolute;
  top: 10px; right: 15px;
  font-size: 22px;
  cursor: pointer;
}